<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="admin">ADMIN CRUD</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                <span class="oi oi-speedometer" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/alumnos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-person" aria-hidden="true"></span> Alumnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/profesores" Match="NavLinkMatch.Prefix">
                <span class="oi oi-person" aria-hidden="true"></span> Profesores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/usuarios" Match="NavLinkMatch.Prefix">
                <span class="oi oi-key" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/planes" Match="NavLinkMatch.Prefix">
                <span class="oi oi-file" aria-hidden="true"></span> Planes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/cursos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-book" aria-hidden="true"></span> Cursos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/especialidades" Match="NavLinkMatch.Prefix">
                <span class="oi oi-tags" aria-hidden="true"></span> Especialidades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/materias" Match="NavLinkMatch.Prefix">
                <span class="oi oi-document" aria-hidden="true"></span> Materias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/comisiones" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Comisiones
            </NavLink>
        </div>
    </nav>
</div>