@inherits LayoutComponentBase

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow" style="min-width: 350px;">
        <div class="card-body">
            @Body
        </div>
    </div>
</div>